APP_NAME=CargoVision
APP_ENV=production
APP_KEY=PASTE_OUTPUT_PHP_ARTISAN_KEY_GENERATE_SHOW
APP_DEBUG=false
APP_URL=https://PASTE_RAILWAY_DOMAIN

APP_LOCALE=id
APP_FALLBACK_LOCALE=en

LOG_CHANNEL=stderr
LOG_LEVEL=warning

DB_CONNECTION=mysql
DB_URL=${{MySQL.MYSQL_URL}}

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false

CACHE_STORE=database
QUEUE_CONNECTION=database
FILESYSTEM_DISK=local

MAIL_MAILER=log

# Dipakai hanya ketika menjalankan db:seed pertama kali.
ADMIN_NAME=System Administrator
ADMIN_EMAIL=GANTI_EMAIL_ADMIN
ADMIN_PASSWORD=GANTI_PASSWORD_KUAT
